$header-height: 10rem;
$header-title-height-ratio: .65;

$footer-height: 2rem;

$body-bg: #dddddd; 
$body-color: black;
$body-image: url('/background.png');
$link-color: #090909;

$title-font-url: '/fonts/CormorantGaramond-Bold.ttf';
$subtitle-font-url: '/fonts/CormorantGaramond-Regular.ttf';
