$header-height: 10rem;
$header-title-height-ratio: .65;
$header-title-max-font-size: 3.2rem;
$header-subtitle-max-font-size: 1.5rem;
$header-title-min-font-size: 2.8rem;
$header-subtitle-min-font-size: 1.2rem;

$footer-height: 2rem;

$body-bg: #444d53; //#24313E; 
$body-color: #bec5c9; //#ECF2F3;
$body-image: url('/background.png');
$link-color: #91999f;// #1F99DC;

$article-special-color-1: #616b71; // #6B7387;
$article-special-color-2: #eaeff2; // #89BABF;

$title-font-url: '/fonts/PlayfairDisplaySC-Bold.ttf';
$subtitle-font-url: '/fonts/PlayfairDisplaySC-Regular.ttf';
