$header-height: 10rem;
$header-title-height-ratio: .65;

$footer-height: 2rem;

$body-bg: #24313E; 
$body-color: #ECF2F3;
$body-image: url('/background.png');
$link-color: #1F99DC;
//89BABF
//6B7387

$title-font-url: '/fonts/PlayfairDisplaySC-Bold.ttf';
$subtitle-font-url: '/fonts/PlayfairDisplaySC-Regular.ttf';
