@import "variables";
@import "@yababay67/svelte-components/styles/layout.scss";
@import "@yababay67/svelte-components/styles/publications/index.scss";

article h1, h2, h3 {
    font-family: SubtitleFont;
    font-variant: small-caps;
    font-size: 2rem;
    margin: 2rem 0;
}

header p {
    color: $article-special-color-1;
    margin-top: -1rem;
}

footer a {
    color: $article-special-color-2;
}

footer {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;
    line-height: calc($footer-height - 1px);
}
